VITE_SUPABASE_URL=https://oobuanwvprgeashqnvsk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vYnVhbnd2cHJnZWFzaHFudnNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MTI3MTQsImV4cCI6MjA5Mzk4ODcxNH0.tC0MudjYiWjEIwIoo-B0xF9LGtilgp0XZFNX-OZVl-massive